<!--<h5>
  Post a New Job :: Job Title
</h5> -->
<!--
<div width="100%">
  <img width = "30px" src={{selectedService.serviceIconPath}}>
  <select [(ngModel)]="selectedService" (ngModelChange)="onServiceSelected()" >
    <option *ngFor="let service of providedServices" [ngValue]="service"> {{service?.name}} </option>
  </select>
  <select  [(ngModel)]="selectedCity" (ngModelChange)="onCitySelected()">
    <option *ngFor="let city of providedCities" [ngValue]="city">{{city?.name}} </option>
  </select>
  <select   [(ngModel)]="selectedLocation" (ngModelChange)="onLocationSelected()">
    <option *ngFor="let area of providedLocations" [ngValue]="area">{{area?.name}} </option>
  </select>
</div>
-->
<div > 
    <input type="String" placeholder="I need services" [(ngModel)]='jobTitle'>  
</div>
<div> {{jobResponse}} </div>
<!--
<div> <a> <div>Job Description </div> <input type="String" [(ngModel)]='jobDescription'> </a> </div>
<div> <a> <div>Job Site</div> <input type="String" [(ngModel)]='address' > </a> </div>
<div id="main">
    <app-date-picker></app-date-picker>
  </div>
--> 
<div>
  <button class="leftButton" (click)="submit()">Post</button>
  <button class="rightButton" (click)="clearPage()">Clear</button>
</div>