h1 {
    color: rgb(250, 251, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    background-color: rgb(27, 206, 238);
    text-align:center
  }
  h2 {
    color: rgb(250, 251, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 100%;
    background-color: rgb(255, 123, 0);
    text-align:center
  }

  h3 {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 75%;
    background-color: rgb(92, 28, 100);
  }

  input {
    width: 100%;
    min-height: 25px;
    max-height: 100px
  }

leftButton{
    width: 50%;
    float:left;
}

rightButton{
    width: 50%;
    float:right;
}

.right {
    width: 33%;
    float: right;  
    margin: auto;
    padding:auto;
}


.left {
    float: left;
    margin: auto;
    padding:auto;
}

.center {
    width: 33%;
    float: center;
    margin: auto;
    padding:auto;
}


.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21; 
}

.center {
    float: center;
    width: "30%";
    margin: auto;
    padding: 0;
}



#main {
    border: 1px solid #000000;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0 */
    display: flex;
    flex-wrap: wrap;
    align-content: space-around; 
}

#main div {
}