<div class="row col-md-offset-4 col-md-12">
  <h3>Reset Password</h3>
</div>
<form>
<div class="input-group mb-3" [formGroup]="rpFormGroup">
  <div>
      <input type="password" class="form-control" placeholder="Old Password" id ="pwd1" formControlName="pwdCtr1" pattern=".{8,12}" 
      [class.red-border]="pwdCtr1.dirty && (pwdCtr1.errors?.required || pwdCtr1.errors?.pattern)" required>
  </div>
  <div>
      <input type="password" class="form-control" placeholder="New Password" id ="pwd2" formControlName="pwdCtr2" pattern=".{8,12}" 
      [class.red-border]="pwdCtr2.dirty && (pwdCtr2.errors?.required || pwdCtr2.errors?.pattern)" required>
  </div>
  <div>
      <!--<div class="input-group-prepend"><span class="input-group-text">Confirm Password</span></div>-->
      <input type="password" class="form-control" placeholder="New Password" id ="pwd3" formControlName="pwdCtr3" pattern=".{8,12}"
      pattern=".{8,12}" title="8 to 12 characters"
      [class.red-border]="rpFormGroup.errors?.pwdMismatch && (pwdCtr3.touched || pwdCtr3.dirty) && (pwdCtr3.errors?.required || pwdCtr3.errors?.pattern)" required>
  </div>

  <!--
    <div>
      <input type="password" class="form-control" placeholder="Old Password" id ="pwd1" formControlName="pwdCtr1"
      [class.red-border]="pwdCtr1.dirty && pwdCtr1.errors?.required" required>
    </div>
    <div>
      <input type="password" class="form-control" placeholder="New Password" id ="pwd2" formControlName="pwdCtr2"
      [class.red-border]="pwdCtr2.dirty && pwdCtr2.errors?.required" required>
    </div>
  -->

</div>


<!-- <div class="input-group mb-3" [formGroup]="rpFormGroup">
  <!-- <label for="pwd" class="control-label">Confirm password:</label> -->
  <!-- <div class="input-group-prepend">
      <span class="input-group-text">$%</span>
  </div>
  <input type="password" class="form-control" placeholder="Reenter New Password" id ="pwd3" formControlName="pwdCtr3"
  [class.red-border]="rp.errors?.pwdMismatch && (pwdCtr3.touched || pwdCtr3.dirty)" required>
</div> --> 

    <button type="button" class="btn btn-primary" (click)="onSubmit()">Reset</button>
    <div class="alert alert-danger" *ngIf="invalidSubmission">{{errorMessage}}</div>
    <!--<a class="pull-right" routerLink="/login">Login</a>-->
  </form>
