<div class="row col-md-offset-4 col-md-12">
    <div >
        <img width="100%" src= "./assets/images/contact-banner.jpg" />
    </div>  
  <form >
      <div class="left">  
          <div class="input-group mb-3" [formGroup]="contactUsFormGroup">          
              <div>
                  <input type="text" class="form-control" placeholder="Name" id="name" formControlName="nameCtr"
                  [class.red-border]="nameCtr.dirty && nameCtr.errors?.required" required>
              </div>
              <br>
              <div>
              <!--<div class="input-group-prepend"><span class="input-group-text">Phone Number</span></div> -->
                  <input type="tel" class="form-control" placeholder="Phone" id="phone" formControlName="phoneCtr" pattern=".{10,12}" title="min 8 chars"
                  [class.red-border]="phoneCtr.dirty && (phoneCtr.errors?.required || phoneCtr.errors?.pattern)" required>
              </div>
          </div>
            
          <div>
              <input type="text" class="form-control" placeholder="email" id="email" formControlName="emailCtr"
              [class.red-border]="emailCtr.dirty && emailCtr.errors?.required" required>
          </div>
          <br>
          <div>
                <input line-height="4em" type="text" class="form-control" placeholder="message" id="message" formControlName="messageCtr"
                [class.red-border]="messageCtr.dirty && messageCtr.errors?.required" required>
          </div>
      </div>
      <!-- </div> -->
      <div class="right">
            <button type="button" class="btn btn-primary" (click)="onSubmit()"> Send </button>
            <div class="alert alert-danger" *ngIf="invalidSubmission">{{errorMessage}}</div>
      </div>
    </form>
      
    <br>
    <br>
  </div>
    