<h3>  About Us</h3>
 

<div>
  <p>
      Product and Applications development software company expertise in developing spcialized solutions.
  </p>
    <div class="left">
      <h3> Our Team</h3>
      <ul>
        <li>
          Extremely Talented team with combined industry experience over 40+ years.</li>
        <li>
          Experience with Domains like Embedded, Telecom, Mobile App, Web App Cloud Computing, Continuoous Integration etc.</li>
        <li>
          Capable of providing best solution in competitive price model</li>
      </ul>
       <h3> Domains:</h3>
        <ul>
          <li>
            Internet of Things:</li>
          <li>
            Application Development</li>
          <li>
            Web Application Development & Deployment</li>
          <li>
            Mobile Application development solutions</li>
          <li>
            Cloud Solutions</li>
          <li>
            Telecom Domain</li>
          <li>
            Voice telephony solutions</li>
          <li>
            Protocol Development and Integration</li>
          <li>
            Continuous Integration</li>
          <li>
            Continuous Integration</li>
        </ul>   
    </div>
    <div class="right">
        <img width="100%" height="100%" src= "./assets/images/about.jpg" />
    </div>
  </div>