<h3>
    Job Responses
</h3>
  
<div *ngFor="let item of pagedItems"
[class.selected]="item === selectedJob"
[ngClass]="{'active': selectedResponse == item, 'list-group-item': true}"
(click)="onSelect(item)"    
>
    <div class ="body">
        <div id="main">
            <div >
                <div>JobID :  #{{item?.jobId}} </div>
                <div>ResponseId:  {{item?.responseId}} </div>

                <div>
                    <img width = "30px" src='./../../assets/images/jobdetails.png'>
                </div>
                
            </div>
        </div>
    </div>
  </div>

  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}" class = "pagination a">
          <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}" class = "pagination a">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class = "pagination a">
          <a class = "pagination a.active" (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class = "pagination a">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class = "pagination a">
          <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
  </ul>
