h3 {
    color: rgb(41, 41, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    background-color: transparent;
  }
.right {
    position: absolute;
    float: right;


   
    border: 3px solid #73AD21;
    padding: 10px;
  
}


.left {
    float: left;
    margin: auto;
    padding:auto;

}

.floating-box {
    display: inline-block;
    margin: 10px;
    border: 3px solid #73AD21; 
}

.center {
    float: center;
    width: "30%";
    margin: auto;
    padding: 0;
}


.floatleft {
    float:left;
    background: color #00ff00;

  }
  
  
.floatright {
    float:right;
    background: color #00ff00;
  }

#main {
    

    border: 1px solid #000000;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0 */
    display: flex;
    flex-wrap: wrap;
    align-content: space-around; 
}

#main div {

}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
    border: 1px solid rgb(5, 30, 66); /* Gray */
    margin: 0 2px; /* 0 is for top and bottom. Feel free to change it */
    font-size: 12px;
    background-color: rgb(174, 238, 243);
  }

  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: rgb(202, 18, 18);
  }

.pagination a:hover:not(.active) {background-color: rgb(81, 226, 236);}

