<div class ="body">        
    <div id="main">
        <div>
            <div>Job Title: {{selectedJob?.jobTitle}} </div>
            <div>Job ID :  #{{selectedJob?.jobId}} </div>
            <div>Required Date:  {{selectedJob?.date}} </div>
            <div>Job Status:  {{selectedJob?.jobStatus}} </div>
            <div>Job Description:  {{selectedJob?.jobDescription}} </div>
        </div> 
    </div>
</div>
<app-user-job-responses [selectedJob]="selectedJob"></app-user-job-responses>