/* div {
  border-radius: 5px;
  background-color: #df8116;
  padding: 20px;
} */

/* .red-border {
    border-color: #e74c3c;
    box-shadow: 0 0 5px #e74c3c;
}

input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

button[type=submit]:hover {
  background-color: #16b4e4;
}

.col-md-12 column form {
  display:table;
  margin:auto;
}

.floatleft {
  float:left;
  width: 50%;
}   


.floatright {
  float:right;
  width:50%;
}

