<div >
  <div class="row col-md-offset-4 col-md-12">
    <form>
      <div >
        <div class="input-group-prepend"> <h3 >Login Here </h3> </div> 
        <div class="input-group mb-3" [formGroup]="loginFormGroup">
            <div>
              <input type="tel" class="form-control" placeholder="Phone Number" id="phone" formControlName="phoneCtr" pattern=".{10,12}" title="min 8 chars" 
              [class.red-border]="phoneCtr.dirty && (phoneCtr.errors?.required || phoneCtr.errors?.pattern)" required>
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" id ="pwd" formControlName="pwdCtr" required>
            </div>
            
            <!--<a routerLink="/forgetPassword"><button type="button" class="btn btn-danger">Forget Password</button></a>-->
            <!--<a>LogIn</a>-->
            <!--<a routerLink="/register"><button type="button" class="btn btn-secondary">Register</button></a>-->
        </div>
        <div> <span> </span></div>
        <div>
            <div class="form-group form-check" [formGroup]="loginFormGroup" >
                <label class="form-check-label"> <input class="form-check-input" type="checkbox" id="remember" formControlName="rememberCtr"> Remember Me  </label>
            </div>
            <div>    
                <button type="button" class="btn btn-primary" (click)="onSubmit()"> Login </button>
            </div>
            <div class="alert alert-danger" *ngIf="invalidSubmission">{{errorMessage}}</div>
        </div>
      </div>
      
    </form>
    <div >
      <!--<app-reset-password></app-reset-password>-->
      <app-forget-password></app-forget-password>
  </div>
  </div>
</div>


