h1 {
    color: rgb(250, 251, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: rgb(0, 195, 255);
    text-align:center;
  }
  h2 {
    color: rgb(80, 80, 80);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    background-color: rgb(0, 195, 255);
    text-align:center;
  }

  h3 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    background-color: rgb(139, 243, 200);
    text-align:center;
  }

.body {
    margin: 1px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(41, 41, 41);
}


.right {
    position: absolute;
    float: right;  
    border: 3px solid #ffffff;
    padding: 10px;  
}

.right3 {
    float:right;
    background: color #ffffff;
    width:25%    
}

.left4 {
    float:left;
    background: color #ffffff;
    width:80%    
}
  
.right4 {
    float:right;
    background: color #ffffff;
    width:20%    
}

.left {
    float: left;
    margin-left: 2px;
    padding:2px;
}


.center {
    float: center;
    width: "30%";
    margin: auto;
    padding: 0;
}


.floatleft {
    float:left;
    width: 100%;
    height: 25px;

  }
  
  
.floatright {
    float:right;
    width: 0%;
  }

#main {
    border: 1px solid #000000;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0 */
    display: flex;
    flex-wrap: wrap;
    align-content: space-around; 
    width: 100%; 
}


.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
    border: 1px solid rgb(5, 30, 66); /* Gray */
    margin: 0 2px; /* 0 is for top and bottom. Feel free to change it */
    font-size: 12px;
    background-color: rgb(174, 238, 243);
  }

  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: rgb(202, 18, 18);
  }

.pagination a:hover:not(.active) {background-color: rgb(81, 226, 236);}

