
<div class="body">
    Job Status::
    <select [(ngModel)]="selectedJobStatusName" (ngModelChange)="onJobStatusSelected()">
            <option *ngFor="let jobStatus of jobStatusArray" [ngValue]="jobStatus.name">{{jobStatus?.name}} </option>
    </select>

    <h3 (click)="loadJobsByCityService()">
        Jobs in {{selectedCityName}} :: {{selectedServiceName}}
    </h3>
    <div>
        <div class="search-results" infiniteScroll
        [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (window:scroll)="onScrollJobsCity()"
        [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="false">
            <div *ngFor="let item of itemsToShowJobsCity | jobFilterLocation : locationFilter | jobFilterStatus : jobStatusFilterString ">
                <div>
                    <div class="left4">
                        <div>
                            <h6> <a> {{item?.serviceName}}s @{{item?.userCity}} ::{{item?.title}} </a> 
                            </h6>
                        </div>
                        <div > {{item?.userName}} @ {{item?.userPhone}} </div>
                        <div> {{item.userLocation}}</div>
                        <div> {{item?.createdAt  | date:"dd-MMM-yy" }}  </div>
                        <br>
                        <a *ngIf="item.expandComments==true">
                                <div *ngFor="let response of item.comments"
                                (click)="onSelectComment(response)">
                                    <div class ="body" hight=200>
                                        <div> {{response.senderUserName}} => {{response.msg}} </div>
                                        <div> @ {{response.createdAt  | date:"dd-MMM-yy"}} </div>                                          
                                    </div>
                                    <br>
                                </div>
                        </a>
                    </div>
                    <div class="right4">
                        <div > 
                            <div *ngIf="item?.status==='Open'"> 
                                    <img width="50" height="50" src= "./assets/images/open.png" />
                            </div>
                            <div *ngIf="item?.status==='Closed'"> 
                                    <img width="50" height="50" src= "./assets/images/closed.png" />
                            </div>
                            <div *ngIf="item?.status=='ddd'"> 
                                    <img width="50" height="50" src= "./assets/images/open.png" />
                            </div>
                        </div> 
                        <!--  
                        <div>
                                <img (click) = "onEdit(item)" width="60" height="25" src= "./assets/images/edit.png" />  
                        </div>
                        -->

                        <div *ngIf="item.expandComments==true"> 
                                <img (click) = "onContractComments(item)" width="25" height="25" src= "./assets/images/minus.png" />
                        </div>
                        <div *ngIf="item.expandComments==false">
                                <img (click) = "onExpandComments(item)" width="25" height="25" src= "./assets/images/plus.png" />
                        </div>
                    </div>
                    <div>
                        <input name="response-{{in}}" placeholder="" [(ngModel)]="item.commentToAdd">
                        <a>
                            <a class ="body">
                                {{item.commentPostResponse}}
                                <img (click)="onPostComment(item)" class="right4" width="25" height="25" src= "./assets/images/post.png" />    
                                
                            </a>
                        </a> 
                    </div>
                    <!--
                    <div> 
                        <font color="blue"> To Change Job Status Click here </font> 
                        <img (click)="onJobComplete(item)"  width="25" height="25" src= "./assets/images/complete.png" />    
                    </div>   
                    -->                       
                </div>
                <div>
                        <hr>
                </div>
            </div>
        </div>
    </div>
    <h3> Jobs Posted by me </h3>
    <div>
        <div class="search-results" infiniteScroll
        [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (window:scroll)="onScrollJobsByUser()"
        [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="false">
            <div *ngFor="let item of itemsToShowJobsByUser | jobFilterLocation : locationFilter | jobFilterStatus : jobStatusFilterString" let in = index
                (click)="onSelect(item)">
                <div>
                    <div class="left4">
                        <div>
                            <h6> <a> {{item?.serviceName}}s @{{item?.userCity}} ::{{item?.title}} </a> 
                            </h6>
                        </div>
                        <div > {{item?.userName}} @ {{item?.userPhone}} </div>
                        <div> {{item.userLocation}}</div>
                        <div> {{item?.createdAt  | date:"dd-MMM-yy"}}  </div>
                        <br>
                        <a *ngIf="item.expandComments==true">
                                <div *ngFor="let response of item.comments"
                                (click)="onSelectComment(response)">
                                    <div class ="body" hight=200>
                                        <div> {{response.senderUserName}} => {{response.msg}} </div>
                                        <div> @ {{response.createdAt  | date:"dd-MMM-yy"}} </div>                                          
                                    </div>
                                    <br>
                                </div>
                        </a>
                    </div>
                    <div class="right4">
                        <div > 
                            <div *ngIf="item?.status==='Open'"> 
                                    <img width="50" height="50" src= "./assets/images/open.png" />
                            </div>
                            <div *ngIf="item?.status==='Closed'"> 
                                    <img width="50" height="50" src= "./assets/images/closed.png" />
                            </div>
                            <div *ngIf="item?.status=='ddd'"> 
                                    <img width="50" height="50" src= "./assets/images/open.png" />
                            </div>
                        </div> 
                        <!--  
                        <div>
                                <img (click) = "onEdit(item)" width="60" height="25" src= "./assets/images/edit.png" />  
                        </div>
                        -->

                        <div *ngIf="item.expandComments==true"> 
                                <img (click) = "onContractComments(item)" width="25" height="25" src= "./assets/images/minus.png" />
                        </div>
                        <div *ngIf="item.expandComments==false">
                                <img (click) = "onExpandComments(item)" width="25" height="25" src= "./assets/images/plus.png" />
                        </div>
                    </div>
                    <div>
                        <input name="response-{{in}}" placeholder="" [(ngModel)]="item.commentToAdd">
                        <a>
                            <a class ="body">
                                {{item.commentPostResponse}}
                                <img (click)="onPostComment(item)" class="right4" width="25" height="25" src= "./assets/images/post.png" />    
                                
                            </a>
                        </a> 
                    </div>
                    <div> 
                        <font color="blue"> To Change Job Status Click here </font> 
                        <img (click)="onJobComplete(item)"  width="25" height="25" src= "./assets/images/complete.png" />    
                    </div>                          
                </div>
                <div>
                        <hr>
                </div>
            </div>
        </div>
    </div>
    

<!--
    <div *ngFor="let item of pagedItems"
    [class.selected]="item === selectedJob"
    [ngClass]="{'active': selectedJob == item, 'list-group-item': true}"
    (click)="onSelect(item)"    
    >
        <div class ="body">                
                
                   <div >  ID :  #{{item?.jobId}} </div>
                    <div >Date:  {{item?.date}} </div>
                    <div>Job Title: {{item?.jobTitle}} </div>
                    <div>Status:  {{item?.jobStatus}} </div>
                    <div>
                        <img width = "20px" src='./assets/images/jobdetails.png'>
                    </div>
                    <app-user-job-responses [selectedJob]="selectedJob"></app-user-job-responses>
        </div>
    </div>
-->
    <!--
    <ul *ngIf="jobsPager.pages && jobsPager.pages.length" class="pagination">
        <li [ngClass]="{disabled:jobsPager.currentPage === 1}" class = "pagination a">
            <a (click)="setJobsPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:jobsPager.currentPage === 1}" class = "pagination a">
            <a (click)="setJobsPage(jobsPager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of jobsPager.pages" [ngClass]="{active:jobsPager.currentPage === page}" class = "pagination a">
            <a class = "pagination a.active" (click)="setJobsPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:jobsPager.currentPage === jobsPager.totalPages}" class = "pagination a">
            <a (click)="setJobsPage(jobsPager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:jobsPager.currentPage === jobsPager.totalPages}" class = "pagination a">
            <a (click)="setJobsPage(jobsPager.totalPages)">Last</a>
        </li>
        
    </ul>
-->
  
<!----
  <a class="floatright">
      <div ng-if="selectedJob.!=null"> 
          <h3>
                    Job Details
          </h3>
          Selected Job is {{selectedJob.jobId}} " " {{selectedJob.jobTitle}}
          <app-user-job-details [selectedJob]="selectedJob"></app-user-job-details>
          <app-user-job-details></app-user-job-details>
      </div>
    </a> -->

</div>



