<!--
<p>
  consumer-detail works!
</p>
-->


<div class="sub-entry">
<div *ngIf="consumer">
    <h2>{{ consumer.name| uppercase  }} Details</h2>
    
    <div><span>id: </span>{{consumer.id}}</div>
    <!--<div><span>name: </span>{{consumer.name}}</div>-->
    <div>
      <label>name:
        <input [(ngModel)]="consumer.name" placeholder="name">
      </label>
    </div>
    </div>
  </div>
