<div class="right">
    <img width="90%" src= "./assets/images/opportunity3.jpg" />  
    <ul>
			<li> What you can learn on project with us </li>
			<li> Programming Language: JavaScript </li>
      <li>  Javascript, HTML, CSS  </li>
      <li>  Angular  </li>
      <li>  NodeJS/Express  </li>
      <li>  MongoDB  </li>
      <li>  Java/J2EE  </li>
      <li>  IoT  </li>
      <li>  C & linux </li>
      <li> Work on live Project </li>
      <li> Gain Skill, competence & Experience </li>
      <li> Training Certificate </li> 
    </ul>
    
	</div>

<div class="left">
    <img width="90%" src= "./assets/images/training.jpg" />  
    <ul>
			<li> Free Training Opportunity for Freshers or Experienced</li>
			<li> Experience with any of Programming Langauge </li>
			<li> Good expertise with Data Structures</li>
			<li> Excellent Aptitude and analytical skills</li>
			<li> Positive Attitude and willing to work from Home.</li>
			<li> Good communication skills.</li>
			<li> Ability to work in different areas and willing to work in Flexible time hours.</li>
			<li> We are looking for a candidate to work with us on an exciting opportunity</li>
    </ul>
    <img width="90%" src= "./assets/images/opportunity2.jpg" />  
    
	</div>