h1 {
    color: rgb(250, 251, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    background-color: rgb(0, 195, 255);
    text-align:center
  }
  h2 {
    color: rgb(250, 251, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 100%;
    background-color: rgb(0, 195, 255);
    text-align:center
  }

  h3 {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 75%;
    background-color: rgb(92, 28, 100);
  }


.floatleft {
    float:left;
    width: 30%;
}   


.floatright {
    float:right;
    width:69%;
}

.after-box {
    border: 3px solid red; 
}
