agm-map {
      height: 200px;
    }

.floatleft {
    float:left;
    background: color #ffffff;
    width:90%
    }
    
.floatright {
    float:right;
    background: color #ffffff;
    width:10%
}


.smallFont {
    margin: 1em;
    font-size: small;
  }


  
.left3 {
    float:left;
    background: color #ffffff;
    width:30%
  }
  
  .center {
    float:left;
    background: color #ffffff;
    width:45%
  }
  
  
  .right3 {
    float:right;
    background: color #ffffff;
    width:25%
  }