
<div class="smallFont">
        <agm-map class="floatleft" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">  
            <agm-marker [latitude]="latitude" [longitude]="longitude">
            </agm-marker>
            <div *ngFor="let m of markers; let i = index">
                    <agm-marker height="2px" [latitude]="m?.lat" [longitude]="m?.lng"  [title] = "m?.title" [iconUrl]="m?.icon" [openInfoWindow] ="m?.infoable" [markerClickable] ="m?.Clickable"
                    (markerClick)="markerClicked(m)" (mouseOver) ="mouseOver(m)" 
                    >
                    </agm-marker>
            </div>        
        </agm-map>
        <div class="floatright">
                <div> <img width="60" height="60" src= {{selectedSP?.localPhotoUrl}} /> 
                        <!--<span *ngIf="item?.isVerified===true">-->
                                <img width="30" src= './assets/images/verified.png'> 
                        <!--</span>-->
                </div>
                <div> {{selectedSP?.likeCount}} <img width="30" src= './assets/images/star.png'> 
                </div>
                <body> {{selectedSP?.userName}}</body>
                <body> {{selectedSP?.city}} </body>
                <body> {{selectedSP?.location}} </body>
                <body> {{selectedSP?.phone}} </body>       
        </div>
        <!--
        <div class ="right3">
                <button (click) = "sendEnquiry(selectedSP)"> <img width=70% height=30% src= './assets/images/message.png'> </button>
                <div>
                <button (click)="showSelected(selectedSP)">
                        <span *ngIf="selectedSP?.like==0"><img width=70% height=30% src= './assets/images/likes.png'> </span>
                        <span *ngIf="selectedSP?.like==1"><img width=70%  height=30% src= './assets/images/myLike.png'></span>
                </button>
                </div>
        </div>-->
<!--
        <div class="body">
                <img width="20" src= {{selectedSP?.serviceIconPath}}>
               <img width="50" src= {{selectedMarker?.icon}}>  {{selectedMarker?.title}}
                {{selectedMarker?.label}}
                <ul style="list-style-type:square">
                    <li> Location: {{selectedSP?.location}} </li>  
                    <li> City: {{selectedSP?.city}} </li>
                    <li> Distance: {{selectedSP?.distance}} KM </li>
                </ul>
        </div>
-->
 </div>
