/* Application-wide Styles */
  h1 {
    color: rgb(250, 251, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: darkcyan;
    text-align:center;
    height:30px;
    margin-left: 30px;
    margin-right: 30px;
    position: fixed;
  }
  h2 {
    color: rgb(252, 250, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 100%;
    background-color: orange;
    text-align:center
  }

  h3 {
    color: rgb(224, 52, 52);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 75%;
    background-color: #3b5998;
  }

    
  body {
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 15px;
    background-color:lightgoldenrodyellow;
    margin-left: 30px;
    margin-right: 30px;
    height:100%;
    }

  
  body, input[text], button {
    color: rgb(80, 80, 80);
    font-family: Georgia, Helvetica, sans-serif;
  }

  #top,
  #bottom {
   
      left: 0;
      right: 0;
      height: 10%;
  }
  
  #top {
      top: 0;
      background-color: orange;
  }
  
  #bottom {
      bottom: 0;
      background-color: green;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .body { overflow: hidden; }
  .column { float: left; }
  .half { width: 50%; }
  .last { float: none; width: auto;
   }

  a {
    cursor: pointer;
    margin-left: 3px;
  }

  b {
    cursor: pointer;
    background-color: #3b5998;
    margin-right: 3px;
  }
.help-block {
    font-size: 10px;
}

.buttonLeft {
  left: true;
  height: 20px;
  width: 50%;
  background-color: rgb(200, 200, 200);
}

.buttonRight {
  right: true;
  height: 20px;
  width: 50%;
  background-color: #3b5998;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:darkCyan;
  color: ( 51, 51, 51); 
}


ul#nav li.active a { color: #f4ba51 ; }


 .nav li {
  background-color:yellow;
 }
 .nav li.selected {
  background-color:red;
 }

li {
  border-right: solid rgb(102, 240, 250);
  color: (51,51,51); 
}

li:last-child {
  border-right: none;
}

li a {
  float: left;
  display: block;
  color: white;
  width : 150px;
  text-align: center;
  text-decoration: none;
}
li b {
  float: right;
  display: block;
  color: white;
  width : 150px;
  text-align: center;
  text-decoration: oveline;
}

li a:hover:not(.active) {
  background-color: cyan;
}

li b:hover:not(.active) {
  background-color: rgb(120, 214, 243);
}

li:focus {
  color: black;
  outline: none;
  background-color: rgb(85, 238, 98);
  
}

li active {
  background-color: rgb(85, 238, 98);
}

div.gallery {
  /*margin: 5px;*/
  float: left;
  width: 40px;
  height : 40px;
}

div.gallery:hover {
  border: 0px solid #777;
  text-decoration-color: #73AD21;
}

div.gallery img {
  width: 30px;
  height: 30px; 

}

div.desc {
  margin-left: 5px;
  float: left;
  width : 100px;
  font-family: Georgia, Helvetica, sans-serif;
  font-size: 15px;
}


