<!--The content below is only a placeholder and can be replaced.-->
<div>
  
  <body>
    <router-outlet></router-outlet>
      <!--  -->
      <ul class="fixed-top">
        <h2>
            <marquee 
                direction="left"
                loop="7"
                scrollamount="10"
                scrolldelay="1"
                width="99%"
                >
                Welcome to {{ title }}!
            </marquee>    
        </h2>      
        <li tabindex="0"><a  (click) = "searchServiceProvider()"> Home </a>  </li>
       <!-- <li><a (click) = "myJobs()"> MyJobs </a> </li> -->
        <li *ngIf="isLoggedIn===false" tabindex="0" ><a (click) = "userDashboard()"> Register/Login </a> </li>
        <li *ngIf="isLoggedIn===true" tabindex="0"><a (click) = "userDashboard()"> Profile </a> </li>
        <!--<li><a (click) = "myJobs()"> MyProfile </a> </li>  -->
        <li tabindex="0"><a (click) = "contactUs()" > Contact US </a> </li>
        <li tabindex="0"><a (click) = "carriers()" > Carriers </a> </li>
        <!--<li><a (click) = "partners()"> Partners </a> </li>-->
        <li tabindex="0"><a (click) = "aboutUs()" > AboutUs </a> </li>
      </ul>
      <br>
      
      <div *ngIf="selectedComponent ==='Search'"> <app-services></app-services></div>
      <div *ngIf="selectedComponent ==='MyJob'"> <app-user-jobs-container></app-user-jobs-container></div>
      <div *ngIf="selectedComponent === 'User'"> <app-dashboard></app-dashboard></div> 
      <!--<div *ngIf="selectedComponent === 'Partners'"> <app-partners></app-partners></div>-->
      <div *ngIf="selectedComponent === 'ContactUs'"> <app-contact-us></app-contact-us></div>
      <div *ngIf="selectedComponent === 'AboutUs'"> <app-about-us> </app-about-us></div>
      <div *ngIf="selectedComponent === 'Carriers'"> <app-carriers></app-carriers></div>
      
  </body>