
<!--<p>
  consumers works fine!
</p>
-->

<h2>My Consumers</h2>
<div class="sub-entry">
<ul class="consumer">
  <li *ngFor="let consumer of consumers"
    [class.selected]="consumer === selectedConsumer"
    (click)="onSelect(consumer)">

    <span class="badge">{{consumer.id}}</span> {{consumer.name}}
  </li>
</ul>
</div>

<div class="sub-entryRight">
<!-- This to bind details component with input as consumer -->
<app-consumer-detail [consumer]="selectedConsumer"></app-consumer-detail>
</div>