<div class = "floatleftfixed">
    <br>
    <h2> Are u looking for  {{selectedService?.name}} ? </h2>
    <li  *ngFor="let service of providedServices; let i=index" 
      [class.selected]="service === selectedService"
      (click)="onSelect(service)"
      [ngClass]="{'active': selectedService == service, 'list-group-item': true}"
      >
      <!-- 
      <a class="desc">
        {{service?.name}} 
      </a>
    -->
      <div class="gallery">
        <img src={{service?.serviceIconPath}}>
      </div>
      <div class="desc">
        {{service?.name}} 
      </div>
    </li>
</div>

<!--<div style="clear:both;"></div>-->
<div class="floatright" ng-if="selectedService.name">
    
  <!-- This to bind details component with input as selected service -->
  <app-service-provider [selectedService]="selectedService"> </app-service-provider>
</div>
