header a{display:inline-block; width:60px;}

h1 {
    color: rgb(250, 251, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: #3b5998;
    text-align:center;
    height:25px;
    margin: 2px;
  }

h2 {
    color: black;
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #2ae0d7;
    text-align:center;
    height:22px;
    margin-left: 0px;
    padding-top: 2px;
    margin-top: 3px;
  }

  h3 {
    color: rgb(250, 251, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    background-color: #777;
    margin: 2px;
    height: 25px;

  }

  /*
ul {
    margin: 0px;
    text-align: left;    
}
*/

li {
    display: inline-block; 
    padding-left: 0%;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: transparent;
    column-count: 1;
    -webkit-column-count: 0;
    -moz-column-count: 0;
     height: 140px;  
     width: 140px;
 
}
/*
rd {
    display: inline-block;
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    
} */

.half { width: 50%; }
.last { float: left; width: auto; }

.wrap {
    width:90%
}

.floatleftfixed {
    float:left;
    width: 35%;
    background-color:(200, 200, 200);
    height:100%;
    font: 15px;
    margin: 0%;
    position:fixed;

}

.floatleft {
    float:left;
    width: 35%;
    background-color:(200, 200, 200);
    height:100%;
    font: 15px;
    margin: 0%;

}


.floatright {
    float:right;
    width:65%;
    background-color:(200, 200, 200);
    height:100%;
    font: 15px;
    margin-top: 3px;
}


.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 1px;
    border: 1px solid #73AD21;  
}

.after-box {
    border: 1px solid red; 
}


div.gallery {
    /*margin: 5px;*/
    float: center;
    width: 40px;
    height : 40px;
   
}

div.gallery:hover {
    border: 0px solid #777;
    text-decoration-color: #73AD21;
}

div.gallery img {
    width: 110px;
    height: 90px; 
    padding-left: 25px;
    padding-top: 5px;
    align-items: center;
    text-align: justify;

}

div.desc {
    padding-top: 50px;
    width : 130px;
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;

}

hr.vertical
{
   width: 0px;
   height: 100%; /* or height in PX */
} 