

<form>
 
  <ul>
    <li> <a (click)="logout()"> Logout </a>  </li>
    <li> <a (click)="initProfile()"> Edit Profile </a> </li>
    <li> <a (click)="initReset()"> Reset Password </a>  </li>
  </ul>
  <h3>Welcome {{userName}} </h3>  
  <div *ngIf="reset==true">
      <app-reset-password></app-reset-password>
      <br>
      <div>
         <a ><button type="button" class="btn btn-primary" (click)="resetCancel()">Cancel</button></a>
      </div>
  </div>

  <div *ngIf="profile==true">
      <app-consumer-profile></app-consumer-profile>
      <br>
      <div>
         <a ><button type="button" class="btn btn-primary" (click)="profileCancel()">Cancel</button></a>
      </div>
  </div>
</form>

