ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:Cyan;
    color: ( 51, 51, 51); 
  }
  
  ul#nav li.active a { color: #f4ba51 ; }
  
  
   .nav li {
    background-color:yellow;
   }
   .nav li.selected {
    background-color:red;
   }
  
  li {
    border-right: solid rgb(102, 240, 250);
    color: (51,51,51); 
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    float: left;
    display: block;
    color: black;
    width : 150px;
    text-align: center;
    text-decoration: none;
  }
  li b {
    float: right;
    display: block;
    color: white;
    width : 150px;
    text-align: center;
    text-decoration: oveline;
  }
  
  li a:hover:not(.active) {
    background-color: cyan;
  }
  
  li b:hover:not(.active) {
    background-color: rgb(120, 214, 243);
  }
  
  li:focus {
    color: black;
    outline: none;
    background-color: rgb(85, 238, 98);
    
  }
  
  li active {
    background-color: rgb(85, 238, 98);
  }
  