

<!--
<a routerLink="/login"><button mat-raised-button color="primary" style='margin-right:16px'>Login</button></a>
<a routerLink="/register"><button mat-raised-button color="accent" style='margin-right:16px'>Register</button></a>
-->
<!-- <router-outlet></router-outlet> -->
<!--<div class="container">-->
<hr>
<div *ngIf="loggedIn==false">
    <div>
        <h3>Continue As a?</h3>
        <div>
            <ul class="list-group">
                <li class="list-group-item"  *ngFor="let item of userTypeList">
                    <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)"/> 
                    {{item.name}}
                </li>
               
            </ul>
        </div>
        <div *ngIf="userType=='ServiceMan'"> 
                <div class="container">
                    <h3>Select Service
                        <select [(ngModel)]="selectedServiceName" 
                                (ngModelChange)="onServiceSelected()">
                            <option *ngFor="let service of services" 
                                [ngValue]="service.name">{{service?.name}}
                            </option>
                        </select>
                        <!--
                        <input placeholder="searchs for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search >
                        -->
                    </h3>
                </div>
        </div>
    </div>
    <div class="floatleft"> <app-register></app-register> </div>
    <div class="floatright"> <app-login></app-login> </div>
</div>

<div *ngIf="loggedIn==true">
    <app-loggedIn></app-loggedIn>
</div>

<!--
</div>
-->




