/* Application-wide Styles */
h1 {
    color: rgb(250, 251, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    background-color: rgb(0, 195, 255);
    text-align:center
  }
  h2 {
    color: rgb(250, 251, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 100%;
    background-color: rgb(0, 195, 255);
    text-align:center
  }

  h3 {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 75%;
    background-color: rgb(92, 28, 100);
  }
  body {
    margin: 2em;
    font-size: 75%;
  }
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }

  #top,
  #bottom {
   
      left: 0;
      right: 0;
      height: 20%;
  }
  
  #top {
      top: 0;
      background-color: orange;
  }
  
  #bottom {
      bottom: 0;
      background-color: green;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  .body { overflow: hidden; }
  .column { float: left; }
  .half { width: 50%; }
  .last { float: none; width: auto; }

  a {
    cursor: pointer;
  }

.help-block {
    font-size: 12px;
}

.buttonLeft {
  left: true;
  height: 20px;
  width: 50%;
  background-color: rgb(12, 153, 247);
}

.buttonRight {
  right: true;
  height: 20px;
  width: 50%;
  background-color: rgb(12, 153, 247);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(10, 44, 42);

}

li {
  float: left;
  border-right:2px solid rgb(27, 216, 230);
  margin: 5;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover:not(.active) {
  background-color: rgb(46, 170, 241);
}

.active {
  background-color: rgb(43, 90, 247);
}


