
    
    
    <div class="col-md-6 col-md-offset-3">Logged In -  {{currentUser.userName}}
        <a [routerLink]="['/login']">Logout</a>
    </div>
<!--
<div>
    <ul>
            <li><a (click) = "userDashboard()"> User </a> </li>
            <li><a (click) = "searchServiceProvider()"> Search </a>  </li>
            <li><a (click) = "myJobs()"> MyJobs </a> </li>
            <li><a (click) = "myJobs()"> MyProfile </a> </li>   
    </ul>
        
    <div *ngIf="selectedComponent ==='Search'"> <app-services></app-services></div>
    <div *ngIf="selectedComponent ==='MyJob'"> <app-user-jobs-container></app-user-jobs-container></div>
    <div *ngIf="selectedComponent === 'User'"> <app-dashboard></app-dashboard></div> 
</div>
-->
          
    <!--
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">UnRegister User</a>
        </li>
    </ul>
  -->
