.body {
    margin: 1em;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
}

.xsmall {
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 1em;
    font-size: 15px;
    font-family: Georgia, Helvetica, sans-serif;
}

.pagination {
    display: inline-block;
}

  .pagination a {
    color: black;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
    border: 1px solid rgb(5, 30, 66); /* Gray */
    margin: 0 2px; /* 0 is for top and bottom. Feel free to change it */
    font-size: 12px;
    background-color: rgb(174, 238, 243);
  }

  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .pagination a.active {
    background-color: #4CAF50;
    color: rgb(202, 18, 18);
  }

  .pagination a:hover:not(.active) {background-color: rgb(81, 226, 236);}

  .center {
    text-align: left;
    
}

.agm-map {
  height: 300px;
}

.sebm-google-map-container {
  height: 300px;
}


.left3 {
  float:left;
  background: color #ffffff;
  width:30%
}

.center {
  float:left;
  background: color #ffffff;
  width:45%

}


.right3 {
  float:right;
  background: color #ffffff;
  width:25%
  
}


.right4 {
  float:right;
  background: color #ffffff;
  width:12%
  
}

.floatleft {
  float:left;
  background: color #ffffff;
  width:50%
}


.floatright {
  float:right;
  background: color #ffffff;
  width:50%;
  padding:2px;
}


.floatrightfixed {
  float:right;
  background: color #ffffff;
  width:50%;
  padding:2px;
  
}
/*
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(196, 250, 126);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
  }

  li a:hover {
    background-color: rgb(17, 17, 17);
  }
  */

  ul {
    list-style-type: none;
    margin: 1;
    padding: 0;
    overflow: hidden;
    background-color: white;
    color: ( 51, 51, 51);
     
    position:fixed ;  
  }
  
  li {
    border-right: solid rgb(109, 239, 248);
    color: (51,51,51); 
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 15px;
    float:left;
  }
  
  li:last-child {
    border-right: none;
    font-size: 15px;
    
  }
  
  li a {
    float: left;
    display: block;
    color: black;
    width : 150px;
    text-align: center;
    text-decoration: none;
    margin-left: 2px;
    background-color: #2ae0d7;
    
    
  }

  li b {
    float: right;
    display: block;
    color: black;
    width : 150px;
    text-align: center;
    text-decoration: none;
    background-color: #f0df94;
    
  }

  li a:hover:not(.active) {
    background-color: cyan;
  }
  
  li b:hover:not(.active) {
    background-color:  #3b5998;
    color: lightgoldenrodyellow;
  }

  .search-results {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .pair div
  {
      display: block;
      
      clear: right;
        
  }
  .pair
  {
      border:3px solid rgb(79, 253, 239);
  }
 
  
  .boxed {
    border: 1px solid green ;
  }

  hr.vertical
  {
     width: 2px;
     height: 100%; /* or height in PX */
     border-left: 1px solid gray;
  } 

  input {
    width: 100%;
    min-height: 25px;
    max-height: 100px
  }

  /* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}