
<body>
        
    <router-outlet></router-outlet>
    <div > 
        <br>
        <ul id="myHeader"   >
            <!--        <li> <a (click) = "selectAllServiceMan()"> All </a></li> -->
            <li><a (click) = "selectNearby()"> Near By </a> </li>
            <li><a (click) = "selectFavourite()"> Favourites </a>  </li>
            <li><a (click) = "selectMyRequests()"> My Messages </a>  </li>
            <li><a (click) = "selectPostedJobs()"> Posted Jobs </a>  </li>
            <!--<li><a (click) = "selectMaps()"> Maps </a> </li> -->
            <div *ngIf="selectedComponent !=='MyRequests'" class="floatleft" >
                    
                    <img width="30" alt={{_selectedService.name}} src= {{_selectedService?.serviceIconPath}}>
                    <!-- {{_selectedService?.name}}s  in -->
                    <select [(ngModel)]="selectedCityName" (ngModelChange)="onCitySelected()">
                        <option *ngFor="let city of cities" [ngValue]="city.name">{{city?.name}} </option>
                    </select>
                    Location 
                    <select   [(ngModel)]="selectedLocationName" (ngModelChange)="onLocationSelected()">
                            <option *ngFor="let area of selectedCity2.areas" [ngValue]="area.name">{{area?.name}} </option>
                    </select>
        
                    <div *ngIf="selectedComponent !=='PostedJobs'" class="floatleft" > 
                        <div> 
                            <h6> Type Message Here </h6>
                            <input placeholder="I need services for" [(ngModel)]="enquiryMsg">
                        </div>
                        <div class = "xsmall"> 
                            {{enquiryResponseDisplay}} 
                        </div>
                    </div>
            </div>
            <div class="floatright">    
                    <h5> Post New Job for {{_selectedService?.name}}s </h5>
                    <app-user-new-job [selectedService]="_selectedService" [selectedCity]="selectedCity2" [selectedLocation]="selectedArea"></app-user-new-job>
            </div>    
            
        </ul>
        <br>
    </div>

    <div>        
            <div class="floatright">  
                    <br>
                    <br>
                    <br>
                    <br>  
                   <app-sp-map></app-sp-map>
                   <div class="floatleft">
                           <div> Addvertisement1    
                                   <ng-adsense [adClient]="'ca-pub-7640562161899788'"
                                               [adSlot]="7259870550"
                                               [display]="'inline-block'"
                                   >
                                   </ng-adsense>
                               </div>
                   </div>
       
                   <div class="floatright"> Addvertisement2    
                       <ng-adsense [adClient]="'ca-pub-7640562161899788'"
                                   [adSlot]="7259870550"
                                   [display]="'inline-block'"
                       >
                       </ng-adsense>
                   </div>
            </div>
        
    </div>
    <br>
    <br>
    <br>
    <hr class="vertical"/>
    <div>
        <div *ngIf="selectedComponent ==='AllServiceMan'" class="floatleft">
                Selected All               
            <!-- infinite scroll-->
            <div class="search-results" infiniteScroll
            [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (window:scroll)="onScroll()"
            [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="false" overflow-x="hidden">
                <div class="boxed" *ngFor="let item of allServiceProviders"
                [class.selected]="SearchServicenManResult === allServiceProviders"
                (click)="onSelect(item)">
                    <div class ="body" hight=200>
                        <div class="floatleft"> <img width="100" height="100" src= {{item?.localPhotoUrl}} /> </div>
                        <div class="floatright" style="list-style-type:square"> 
                            <div>{{item?.userName}}</div>
                            <div> {{item?.city}} 
                                {{item?.location}} </div>
                            <div> {{item?.phone}} 
                                    <a *ngIf="item?.isVerified===true">
                                            <img width="50" src= './assets/images/verified.png'> 
                                    </a>
                            </div> 
                            <button (click) = "sendEnquiry(item)"> Send Message </button>
                        </div>
                        <div font-size=150% height= 30px>
                                <button (click)="showSelected(item.sman)">
                                        <span *ngIf="item?.like==0"><img width="50" hight="30" src= './assets/images/likeMe.png'> </span>
                                        <span *ngIf="item?.like==1">I Like<img width="50" hight="30" src= './assets/images/likedByme.png'></span>
                                </button>
                                <img width="50" src= './assets/images/liked2.png'>: {{item?.likeCount}} 
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="selectedComponent ==='Nearby'">
            <div class="floatleft">
                <h6> NearBy {{_selectedService?.name}}s</h6>
                <div class="search-results" infiniteScroll
                [infiniteScrollDistance]="1"  (window:scroll)="onScrollNearby()"
                [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="true" >
                    <input name="term" [(ngModel)]="term">
                    <div  *ngFor="let item of itemsToShowNearby | filter : locationFilter | sortBy: 'likeCount'"
                        [class.selected]="SearchServicenManResult === itemsToShowNearby"
                        (click)="onSelect(item)">
                        <div >             
                            <div class="left3">
                                <div> <img width="50" height="50" src= {{item?.localPhotoUrl}} /> 
                                    <span *ngIf="item?.isVerified===true">
                                        <img width="30" src= './assets/images/verified.png'> 
                                    </span>
                                </div>
                                    
                            </div>
                            <div class="center" style="list-style-type:square">
                                <body> {{item?.userName}}</body>
                                <body> {{item?.location}} {{item?.city}} </body>
                                <body> {{item?.phone}} </body>       
                            </div>
                            <div class ="right3">
                                <img (click) = "sendEnquiry(item)" width=30% height=30% src= './assets/images/message.png'>
                                <div>
                                    <span *ngIf="item?.like==0"><img (click)="showSelected(item)" width=30% height=30% src= './assets/images/likeMe.png'> </span>
                                    <span *ngIf="item?.like==1"><img (click)="showSelected(item)" width=30%  height=30% src= './assets/images/likedByme.png'></span>
                                </div>
                                <div> 
                                    <img width="30" src= './assets/images/liked2.png'> ({{item?.likeCount}}) 
                                </div>
                            </div>            
                        </div>
                        <div>
                            <p> ' </p>
                            <hr> 
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="floatright">
            </div>
        </div>

        <div *ngIf="selectedComponent ==='Favourites'" > 
            <div class="floatleft">
                <h6> Favourite {{_selectedService?.name}}s</h6>  
                <div class="search-results" infiniteScroll
                [infiniteScrollDistance]="1" [infiniteScrollThrottle]="800" (window:scroll)="onScrollFavourite()"
                [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="false">
                    <div *ngFor="let item of itemsToShowFavourites | filter : locationFilter | sortBy: 'likeCount'"
                        [class.selected]="SearchServicenManResult === itemsToShowFavourites"
                        (click)="onSelect(item)">
                        <div >             
                            <div class="left3">
                                    <div> <img width="50" height="50" src= {{item?.localPhotoUrl}} /> 
                                        <span *ngIf="item?.isVerified===true">
                                                <img width="30" src= './assets/images/verified.png'> 
                                        </span>
                                    </div>
                                    
                            </div>
                            <div class="center" style="list-style-type:square"> 
                                <body> {{item?.userName}}</body>
                                <body> {{item?.city}} </body>
                                <body> {{item?.location}} </body>
                                <body> {{item?.phone}} </body>       
                            </div>
                            <div class ="right3">
                                <img (click) = "sendEnquiry(item)" width=30% height=30% src= './assets/images/message.png'>
                                <div>
                                    <span *ngIf="item?.like==0"><img (click)="showSelected(item)" width=30% height=30% src= './assets/images/likeMe.png'> </span>
                                    <span *ngIf="item?.like==1"><img (click)="showSelected(item)" width=30%  height=30% src= './assets/images/likedByme.png'></span>
                                </div>
                                <div> 
                                     <img width="30" src= './assets/images/liked2.png'> ({{item?.likeCount}})
                                </div>
                            </div>            
                        </div>
                        <div>
                            <p> ' </p>
                            <hr> 
                        </div>
                    
                    </div>
                    
                </div>
                
            </div>    
        </div>
        <div *ngIf="selectedComponent ==='PostedJobs'">
            <div class="floatleft">
                <app-user-jobs [selectedService]="_selectedService" [selectedCity]="selectedCity2" [selectedLocation]="selectedArea"></app-user-jobs>
            </div>
        </div>
        <div *ngIf="selectedComponent ==='MyRequests'" >
            <div class="floatleft">
                <h6> My Messages </h6>        
                <div class="search-results" infiniteScroll
                [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (window:scroll)="onScrollEnquiriesByUser()"
                [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="false">
                    <div *ngFor="let item of itemsToShowEnquiriesByUser" let in = index
                        [class.selected]="SearchServicenManResult === itemsToShowEnquiriesByUser"
                        (click)="onSelect(item)">
                        <div>
                            <div >
                                <img width="30" height="30" src= {{item?.SMan.localPhotoUrl}} />
                                <!--{{item?.likeCount}} <img width="20" src= './assets/images/star.png'>  -->
                                <span *ngIf="item?.SMan.isVerified===true">
                                    <img width="20" src= './assets/images/verified.png'> 
                                </span> 
                                {{item?.SMan.userName}} ({{item?.SMan.phone}}) 
                                <a class="body"> {{item?.SMan.city}}, {{item?.SMan.location}} </a> 
                                <a class="right4" *ngIf="item.expandComments==true"> 
                                        <img (click) = "onContractComments(item)" width="25" height="25" src= "./assets/images/minus.png" />
                                </a>
                                <a class="right4" *ngIf="item.expandComments==false">
                                        <img (click) = "onExpandComments(item)" width="25" height="25" src= "./assets/images/plus.png" />
                                </a>
                            </div>
                            <!--
                            <div class="floatright" style="list-style-type:square"> 
                                <div>{{item?.SMan.userName}} ({{item?.SMan.phone}}) </div>
                                <div class="body"> {{item?.SMan.city}}, {{item?.SMan.location}} </div>
                            </div>-->
                            <div> {{item.msg}} <a class="body"> {{item.createdAt | date:"dd-MMM-yy" }} </a>
                            </div>
                            <a *ngIf="item.expandComments==true">
                                <div *ngFor="let response of item.comments"
                                (click)="onSelectComment(response)">
                                    <div class ="body" hight=200>
                                        <div> {{response.senderUserName}} => {{response.msg}} @ {{response.createdAt | date:"dd-MMM-yy" }} </div>                                          
                                    </div>
                                </div>
                            </a>
                            <input name="response-{{in}}" placeholder="" [(ngModel)]="item.commentToAdd">
                            <a>
                                <a class ="body">
                                    {{item.commentPostResponse}}<img (click)="onPostComment(item)" class="right4" width="25" height="25" src= "./assets/images/post.png" />
                                </a>
                            </a>                           
                        </div>
                        <div>
                                <p> _ </p>
                                <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</body>

<!-- 
        <div>
                <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search >
        </div>
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude">
            </agm-marker>
            <div *ngFor="let m of markers; let i = index">
                <agm-marker height="2px" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [title] = "m.title" [iconUrl]="m.icon" [openInfoWindow] ="m.infoable" [markerClickable] ="m.Clickable"
                (markerClick)="markerClicked(m)" (mouseOver) ="mouseOver(m)" 
                >
                </agm-marker>
            </div>
        </agm-map>
-->