<div class="row col-md-offset-4 col-md-12">
  <h3>Forget Password</h3>
  <form>
    <div class="input-group mb-3" [formGroup]="forgetPassGroup">
      <!-- <label for="phone" class="control-label">Phone:</label> -->
      <input type="tel" class="form-control" placeholder="Phone" id="phone" formControlName="phoneCtr" pattern=".{10,12}" title="min 8 chars"
      [class.red-border]="phoneCtr.dirty && (phoneCtr.errors?.required || phoneCtr.errors?.pattern)" required>  
    </div>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Forget</button>
    <div *ngIf="invalidSubmission" class="alert alert-danger">Incorrect phone number</div>
    <div *ngIf="message" class="alert alert-danger">{{message}}</div>
    <!--
          
    <a routerLink="/register"><button type="button" class="btn btn-secondary">Register</button></a>
    <a routerLink="/login"><button type="button" class="btn btn-default">Login</button></a>
    -->

  </form>
</div>
