
<div class="row col-md-offset-4 col-md-8">
</div>
  <form>
    <div> <label>My Profile  </label> </div>
    <div> <label>  {{serviceType}}</label> </div>
  
    <img width="100" height="100" [src]="imageSrc" (load)="handleImageLoad()" [class.loaded]="imageLoaded"/>
    <div>
        <input type="file" name="image" accept="image/*" (change)="handleInputChange($event)">
        <div>
             <button type="button" class="btn btn-primary" (click)="onUpload()">Upload Profile Pic</button>
        </div>
    </div>
    <div class="input-group mb-3" [formGroup]="profileFormGroup"> 
            <div>
                <input type="text" class="form-control" placeholder="Phone" value={{currentUser.phone}} id="phoneReadOnly" formControlName="phonectr" readonly>
            </div>
            <div *ngIf="isVerified===true">
                <img width="50" src= './assets/images/verified2.png'> 
                <!--
                   <a ><button type="button" class="btn btn-primary" (click)="doNothing()">Verified</button></a>
                -->
            </div>
            <div *ngIf="isVerified==false">
                <div *ngIf="otpState==='ToRequest'">
                        <a ><button type="button" class="btn btn-primary" (click)="verifyInit()">Verify</button></a>               
                </div>
                <div *ngIf="otpState==='Requested'">
                        <input type="text" class="form-control" placeholder="Otp" id="otp" formControlName="otpctr">
                        <a ><button type="button" class="btn btn-primary" (click)="otpVerify()">Submit</button></a>
                        <a>" "</a>
                        <a ><button type="button" class="btn btn-primary" (click)="otpCancel()">Cancel</button></a>
                </div>
                <div *ngIf="otpState==='Submitted'">
                        <!--<input type="text" class="form-control" placeholder="verifying phone" id="verifying" formControlName="otpmessage" readonly>-->
                </div>
                <div *ngIf="otpState==='Failed'">
                        <input type="text" class="form-control" placeholder="retry otp" id="retry" formControlName="otpmessageFailed" readonly>
                </div>
            </div>
    </div>
    <a >{{otpHintMessage}}</a>
    <div class="input-group mb-3" [formGroup]="profileFormGroup">  
        <div>
            <input type="text" class="form-control" placeholder="City" id="city"  value={{currentUser.city}} formControlName="cityctr" >
        </div>
        <div>
            <input type="text" class="form-control" placeholder="State" id="state" value={{currentUser.state}} formControlName="statectr">
        </div>
    </div> 
     <div class="input-group mb-3" [formGroup]="profileFormGroup">
        <div> 
             <input type="text" class="form-control" placeholder="PIN" id="pin" value={{currentUser.pin}} formControlName="pinctr" >
        </div>
        <div>
             <input type="text" class="form-control" placeholder="Location" id="location" value={{currentUser.location}} formControlName="locationctr" >
        </div>
     </div>
     <div class="input-group mb-3" [formGroup]="profileFormGroup">    
        <div>
            <input type="text" class="form-control" placeholder="First Name" id="fname" formControlName="fnamectr" >
          </div>
        <div>
             <input type="text" class="form-control" placeholder="Last Name" id="lname" value={{currentUser.lastName}} formControlName="lnamectr" >
        </div>
   </div>
    <div class="input-group mb-3" [formGroup]="profileFormGroup">    
        <div>
            <input type="text" class="form-control" placeholder="E-Mail" id="email" value={{currentUser.email}} formControlName="emailctr">
        </div>
       
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
</form>

