<div class="row col-md-offset-4 col-md-12">
<div class="input-group-prepend"> <h3 >Register Here </h3> </div> 

<div>
    Select City 
        <select [(ngModel)]="selectedCityName" (ngModelChange)="onCitySelected()">
            <option *ngFor="let city of cities" [ngValue]="city.name">{{city?.name}} </option>
        </select>
    Select Location 
        <select [(ngModel)]="selectedLocationName" (ngModelChange)="onLocationSelected()">
                <option *ngFor="let area of selectedCity2.areas" [ngValue]="area.name">{{area?.name}} </option>
        </select>
</div>
<br>
<br>

<form>
     <div class="input-group mb-3" [formGroup]="registerFormGroup">
            
      <!-- <label for="phone" class="control-label">Full Name:</label> -->
         <!--<div class="input-group-prepend"> <span class="input-group-text">UserName</span> </div> -->
         <div>
            <input type="text" class="form-control" placeholder="Username" id="name" formControlName="nameCtr"
            [class.red-border]="nameCtr.dirty && nameCtr.errors?.required" required>
        </div>
        <div>
        <!--<div class="input-group-prepend"><span class="input-group-text">Phone Number</span></div> -->
            <input type="tel" class="form-control" placeholder="Phone" id="phone" formControlName="phoneCtr" pattern=".{10,12}" title="min 8 chars"
            [class.red-border]="phoneCtr.dirty && (phoneCtr.errors?.required || phoneCtr.errors?.pattern)" required>
        </div>
     </div>

     <div class="input-group mb-3" [formGroup]="registerFormGroup">
      <!-- <label for="pwd" class="control-label">Choose a password:</label> -->
     <!-- <div class="input-group-prepend"> <span class="input-group-text">Password</span> </div> -->
        <div>
            <input type="password" class="form-control" placeholder="Password" id ="pwd1" formControlName="pwdCtr1" pattern=".{8,12}" 
            [class.red-border]="pwdCtr1.dirty && (pwdCtr1.errors?.required || pwdCtr1.errors?.pattern)" required>
        </div>
        <div>
        <!--<div class="input-group-prepend"><span class="input-group-text">Confirm Password</span></div>-->
        <input type="password" class="form-control" placeholder="Password" id ="pwd2" formControlName="pwdCtr2" pattern=".{8,12}"
        pattern=".{8,12}" title="8 to 12 characters"
        [class.red-border]="registerFormGroup.errors?.pwdMismatch && (pwdCtr2.touched || pwdCtr2.dirty) && (pwdCtr2.errors?.required || pwdCtr2.errors?.pattern)" required>
        </div>
    
    </div>
    <div class="form-group form-check" [formGroup]="registerFormGroup" >
            <label class="form-check-label"> <input class="form-check-input" type="checkbox" id="remember" formControlName="rememberCtr"> Remember Me  </label>
    </div>
    <button type="button" class="btn btn-primary" (click)="onSubmit()"> Register </button>
   
    <div class="alert alert-danger" *ngIf="invalidSubmission">{{errorMessage}}</div>
    <!--<a class="pull-right" routerLink="/login">Login</a> -->
  </form>
  <br>
  <br>
  <hr  color="red">
        <p>
          
        </p>
  <hr noshade >
</div>
